# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

# Streamlit
.streamlit/

# Mac
.DS_Store

# Logs & local outputs
logs/
reports/

# Local data & databases
data/
db/
*.sqlite
*.db

# Deprecated/backup files
backup/

# IDE
.vscode/
